
/* .round-logo{
  border-radius: 50%;
  object-fit: cover;
} */
.navbar-container {
  background-color: grey;
  margin-bottom:2px;
}


.navbar-list {
  list-style: none;
  display: flex;
  margin-left: 900px;
  margin-top: -90px;
} 

.navbar-link {
  color:white;
  text-decoration: none;
  padding: 50px 40px;
  transition: color 0.3s;
}

.navbar-link.active {
  color: blue;
}


